*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.sidebar{
    width: 300px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 10px;
}
.sidebar-nav{
    background-color: #111111;
    border-radius: 10px;
    padding: 20px 10px;
    margin-bottom: 10px;
}
.sidebar-nav .logo{
    width: 120px;
}
.sidebar-nav .logo img{
    width: 100%;
}

.sidebar-nav ul{
    list-style: none;
}
.sidebar-nav ul li{
    padding: 20px 10px;
}
.sidebar-nav ul li a{
    text-decoration: none;
    color: #b3b3b3;
    font-size: 16px;
    font-weight: 600;
}

.sidebar-nav ul li a i{
    font-size: 20px;
    margin-right: 10px;
}
.library::after{
    content: "+";
    float: right;
    text-align: center;
    border-radius: 50%;
    font-size: 15px;
}
.create-playlist{
    background-color: #444141;
    padding: 30px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.sidebar-scroll{
    height: 120px;
    overflow-y: auto;
}
.sidebar-scroll::-webkit-scrollbar{
    background-color: transparent;
}
.sidebar-scroll::-webkit-scrollbar-thumb{
    background-color: transparent;
    width: 8px;
}
.sidebar-scroll:hover::-webkit-scrollbar-thumb{
    background-color: #807c7c;
    width: 5px;
    border-radius: 2px;
}
.create-playlist h4{
    color: white;
    font-size: 15px;
}
.create-playlist p{
    color: white;
    font-size: 12px;
    margin: 12px 0;
}
.create-playlist button{
    padding: 8px 15px;
    border: 0;
    outline: 0;
    border-radius: 20px;
    font-weight: 600;
}